<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bisheone">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"/>
<!--    <uses-feature android:name="android.hardware.camera.autofocus"/>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SetActivity"
            android:label="设置"></activity>
        <activity android:name=".client.SuccessActivity" />
        <activity android:name=".client.RegisterActivity" />
        <activity android:name=".client.LoginActivity">
        </activity>
        <activity
            android:name=".StartActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity> <!-- android:theme="@style/AppTheme" -->
        <activity
            android:name=".tabview.MainTabViewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".MainActivity">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>

<!--        相机需要-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.bisheone.activity"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>